$body-color: #FCFCFD;
$body-color-2: #F4F5F6;
$theme-color: #12245A;
$secondary-color:#FBD501;
$font-family: 'DM Sans', sans-serif;
$border-radius: 6px;
$white-color: #fff;
$black-color: #000;
$theme-custom-color: #151515;
$desc-font: #5F6368;
$bg-base-path: '';
$text-color: #777E90;
$text-active-color: #23262F;
// screen sizing 
$def-max-width: 1150px;